<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">    
        <mat-card *ngIf="!(isLoading$ | async)" fxFlex.gt-sm="599px" fxFlex.xs="100%">
            <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="excercises$ | async">
                    <mat-select placeholder="Choose exercise" ngModel name="exercise" required>
                        <mat-option *ngFor="let excercise of excercises$ | async" [value]="excercise.id">
                            {{ excercise.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button *ngIf="excercises$ | async" type="submit" mat-button color="primary" [disabled]="f.invalid">Start</button>
                <button *ngIf="!(excercises$ | async)" type="button" mat-button color="warn" (click)="onFetchExercises()">Fetch again</button>
            </mat-card-actions>
        </mat-card>
        <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
    </form>
</section>